{% extends "layout.html" %}
{% block title %}About Us | ClassLog{% endblock %}

{% block content %}

<div class="container my-container mx-auto rounded"> 
    <div class="row my-row-head">
        <div class="col-md-8 my-col rounded-lg">
            <h1>The Team: </h1>
        </div>
    </div>
    <div class="row my-row">
        <div class="col-sm my-col rounded-lg">

            <img class= "rounded-circle" src="/static/profile_pics/glen2.JPG" alt="glen dp">
            <br><br>
            <h3>Glen Vipin Pereira</h3>
            <h6>CS-A 19-23 Batch, AJCE</h6>
            <h6>Work Hard, Play Hard.</h6>

        </div>
        <div class="col-sm my-col rounded-lg">

            <img class= "rounded-circle" src="/static/profile_pics/anandu1.jpg" alt="anandu dp">
            <br><br>
            <h3>Anandu Sunil Kumar</h3>
            <h6>CS-A 19-23 Batch, AJCE</h6>
            <h6>Work Hard, Play Hard.</h6>

        </div>
        <div class="col-sm my-col rounded-lg">

            <img class= "rounded-circle" src="/static/profile_pics/chetan1.JPG" alt="chetan dp">
            <br><br><br>
            <h3>Chetan Manoj</h3>
            <h6>CS-A 19-23 Batch, AJCE</h6>
            <h6>Work Hard, Play Hard.</h6>

        </div>
        <div class="col-sm my-col rounded-lg">

            <img class= "rounded-circle" src="/static/profile_pics/devarsh1.JPG" alt="devarshdp">
            <br><br>
            <h3>Devarsh Damodaran</h3>
            <h6>CS-A 19-23 Batch, AJCE</h6>
            <h6>Work Hard, Play Hard.</h6>

        </div>
    </div>
    
{% endblock %}